In [1]:
import pandas as pd

In [2]:
url = "https://drive.google.com/uc?export=download&id=1bAu31pKhF-kAYq2ncCveSloH-NLg83aU"
df = pd.read_csv(url)
df

,NIM,Angkatan,Kode MK,SKS,Nama Mata Kuliah,Periode Semester,Nilai Huruf
0,2.054297e+08,20051,KP8700,2.0,Kerja Praktek,20122,NaN
1,2.054297e+08,20051,KM8800,1.0,Komprehensif,20122,NaN
2,2.054297e+08,20051,TA8800,4.0,Tugas AkhirSkripsi,20122,NaN
3,2.067001e+08,20061,705101,2.0,AlQuran Dan Ilmu Tafsir,20061,A
4,2.067001e+08,20061,705104,2.0,Bahasa Arab I,20061,A
...,...,...,...,...,...,...,...
192031,1.237050e+09,20231,201004-705-02-013,2.0,Fisika Dasar,20231,NaN
192032,1.237050e+09,20231,201004-705-02-014,1.0,Praktikum Fisika Dasar,20231,NaN
192033,1.237050e+09,20231,201004-705-03-001,2.0,Olah Raga,20231,NaN
192034,1.237050e+09,20231,201004-705-03-011,NaN,Praktek Tilawah,20231,NaN
192035,1.237050e+09,20231,201004-705-02-002,1.0,Kewarganegaraan,20231,NaN

In [3]:
target_angkatan = 20201

In [4]:
df_angkatan_20201 = df[df["Angkatan"] == target_angkatan]

In [5]:
df_angkatan_20201 = df_angkatan_20201.drop_duplicates(subset="NIM").reset_index(
    drop=True
)

In [6]:
pd.set_option("display.float_format", "{:.0f}".format)


print(f"Data berdasarkan Angkatan {target_angkatan}:")
print(df_angkatan_20201[["NIM", "Periode Semester", "Angkatan"]])

total_data_angkatan_20201 = df_angkatan_20201.shape[0]
print(
    f"\nTotal Data berdasarkan Angkatan {target_angkatan}: {total_data_angkatan_20201}"
)

Data berdasarkan Angkatan 20201:
           NIM  Periode Semester  Angkatan
0   1207050001             20201     20201
1   1207050002             20201     20201
2   1207050003             20201     20201
3   1207050004             20201     20201
4   1207050005             20201     20201
..         ...               ...       ...
144 1207050145             20201     20201
145 1207050146             20201     20201
146 1207050147             20201     20201
147 1207050148             20201     20201
148 1207050149             20202     20201

[149 rows x 3 columns]

Total Data berdasarkan Angkatan 20201: 149

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report


df_all_angkatan = df.drop_duplicates(subset="NIM").reset_index(drop=True)

features_all_angkatan = df_all_angkatan[["NIM", "Periode Semester"]]
target_all_angkatan = df_all_angkatan["Angkatan"]

(
    X_train_all_angkatan,
    X_test_all_angkatan,
    y_train_all_angkatan,
    y_test_all_angkatan,
) = train_test_split(
    features_all_angkatan, target_all_angkatan, test_size=0.2, random_state=42
)

model_all_angkatan = DecisionTreeClassifier()
model_all_angkatan.fit(X_train_all_angkatan, y_train_all_angkatan)

predictions_all_angkatan = model_all_angkatan.predict(X_test_all_angkatan)

accuracy_all_angkatan = accuracy_score(y_test_all_angkatan, predictions_all_angkatan)
classification_report_result_all_angkatan = classification_report(
    y_test_all_angkatan, predictions_all_angkatan
)

print(f"Accuracy: {accuracy_all_angkatan}")
print("Classification Report:\n", classification_report_result_all_angkatan)

Accuracy: 1.0
Classification Report:
               precision    recall  f1-score   support

       20061       1.00      1.00      1.00        23
       20071       1.00      1.00      1.00        38
       20081       1.00      1.00      1.00        61
       20091       1.00      1.00      1.00        29
       20101       1.00      1.00      1.00        35
       20111       1.00      1.00      1.00        31
       20121       1.00      1.00      1.00        32
       20131       1.00      1.00      1.00        43
       20141       1.00      1.00      1.00        35
       20151       1.00      1.00      1.00        31
       20161       1.00      1.00      1.00        47
       20171       1.00      1.00      1.00        17
       20181       1.00      1.00      1.00        23
       20191       1.00      1.00      1.00        26
       20201       1.00      1.00      1.00        19
       20211       1.00      1.00      1.00        32
       20221       1.00      1.00      1.00        28
       20231       1.00      1.00      1.00        29

    accuracy                           1.00       579
   macro avg       1.00      1.00      1.00       579
weighted avg       1.00      1.00      1.00       579