In [39]:
import pandas as pd

pd.set_option("display.float_format", "{:.0f}".format)

In [40]:
url = "https://drive.google.com/uc?export=download&id=1bAu31pKhF-kAYq2ncCveSloH-NLg83aU"
df = pd.read_csv(url)

In [41]:
df = df.dropna()

In [42]:
mata_kuliah_target = "Pengantar Informatika"
nilai_huruf_target = "A"
tahun_angkatan_target = 20201

In [43]:
df_target_mata_kuliah = df[
    (df["Nama Mata Kuliah"] == mata_kuliah_target)
    & (df["Nilai Huruf"] == nilai_huruf_target)
    & (df["Angkatan"] == tahun_angkatan_target)
]

In [44]:
result_df = df_target_mata_kuliah[["NIM", "Angkatan", "Nilai Huruf"]].reset_index(
    drop=True
)

print(
    f"\n5 Baris Pertama Dataset (Mata Kuliah '{mata_kuliah_target}' dan Nilai Huruf '{nilai_huruf_target}'):"
)
print(result_df)

5 Baris Pertama Dataset (Mata Kuliah 'Pengantar Informatika' dan Nilai Huruf 'A'):
          NIM  Angkatan Nilai Huruf
0  1207050003     20201           A
1  1207050004     20201           A
2  1207050005     20201           A
3  1207050006     20201           A
4  1207050007     20201           A
..        ...       ...         ...
94 1207050141     20201           A
95 1207050144     20201           A
96 1207050145     20201           A
97 1207050147     20201           A
98 1207050148     20201           A

[99 rows x 3 columns]

In [45]:
total_mahasiswa = len(df_target_mata_kuliah)
print(
    f"Total Mahasiswa yang mendapatkan nilai 'A' pada mata kuliah '{mata_kuliah_target}' dan tahun angkatan {tahun_angkatan_target}: {total_mahasiswa}"
)

Total Mahasiswa yang mendapatkan nilai 'A' pada mata kuliah 'Pengantar Informatika' dan tahun angkatan 20201: 99