In [29]:
import pandas as pd

In [30]:
url = "https://drive.google.com/uc?export=download&id=1bAu31pKhF-kAYq2ncCveSloH-NLg83aU"
df = pd.read_csv(url)

In [31]:
df = df.dropna()

In [40]:
df['Nilai Huruf'] = df['Nilai Huruf'].astype('category').cat.codes

In [41]:
df_a_only = df[df["Nilai Huruf"] == 0]

result_df = df_a_only[
    [
        "Angkatan",
        "Kode MK",
        "Nama Mata Kuliah",
    ]
]

print("\n5 Baris Pertama Dataset (Hanya Nilai Huruf 'A'):")
print(result_df.head())

total_data_a = df_a_only.shape[0]

print(f"\nTotal Data dengan Nilai Huruf 'A': {total_data_a}")

5 Baris Pertama Dataset (Hanya Nilai Huruf 'A'):
    Angkatan  Kode MK  Nama Mata Kuliah
3      20061       22                 2
4      20061       25                11
13     20061       32               108
17     20061       38                24
18     20061       33                32

Total Data dengan Nilai Huruf 'A': 67599

In [34]:
df_b_only = df[df["Nilai Huruf"] == 1]

result_df = df_b_only[
    [
        "Angkatan",
        "Kode MK",
        "Nama Mata Kuliah",
    ]
]

print("\n5 Baris Pertama Dataset (Hanya Nilai Huruf 'B'):")
print(result_df.head())

total_data_b = df_b_only.shape[0]

print(f"\nTotal Data dengan Nilai Huruf 'B': {total_data_b}")

5 Baris Pertama Dataset (Hanya Nilai Huruf 'B'):
Empty DataFrame
Columns: [Angkatan, Kode MK, Nama Mata Kuliah]
Index: []

Total Data dengan Nilai Huruf 'B': 0

In [42]:
df_c_only = df[df["Nilai Huruf"] == 2]

result_df = df_c_only[
    [
        "Angkatan",
        "Kode MK",
        "Nama Mata Kuliah",
    ]
]

print("\n5 Baris Pertama Dataset (Hanya Nilai Huruf 'C'):")
print(result_df.head())

total_data_c = df_c_only.shape[0]

print(f"\nTotal Data dengan Nilai Huruf 'C': {total_data_c}")

5 Baris Pertama Dataset (Hanya Nilai Huruf 'C'):
    Angkatan  Kode MK  Nama Mata Kuliah
7      20061       27                28
9      20061       29                55
11     20061       28                94
14     20061       41                 4
16     20061       34                12

Total Data dengan Nilai Huruf 'C': 17199

In [43]:
df_d_only = df[df["Nilai Huruf"] == 3]

result_df = df_d_only[
    [
        "Angkatan",
        "Kode MK",
        "Nama Mata Kuliah",
    ]
]

print("\n5 Baris Pertama Dataset (Hanya Nilai Huruf 'D'):")
print(result_df.head())

total_data_d = df_d_only.shape[0]

print(f"\nTotal Data dengan Nilai Huruf 'D': {total_data_d}")

5 Baris Pertama Dataset (Hanya Nilai Huruf 'D'):
     Angkatan  Kode MK  Nama Mata Kuliah
8       20061       26                44
15      20061       39                 6
34      20061       59                70
149     20061       27                28
220     20061       27                28

Total Data dengan Nilai Huruf 'D': 2680

In [53]:

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn import preprocessing

le_angkatan = preprocessing.LabelEncoder()
le_kode_mk = preprocessing.LabelEncoder()
le_nama_mk = preprocessing.LabelEncoder()

df["Angkatan"] = le_angkatan.fit_transform(df["Angkatan"])
df["Kode MK"] = le_kode_mk.fit_transform(df["Kode MK"])
df["Nama Mata Kuliah"] = le_nama_mk.fit_transform(df["Nama Mata Kuliah"])

X = df[["Angkatan", "Kode MK", "Nama Mata Kuliah"]]
y = df["Nilai Huruf"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

clf = DecisionTreeClassifier(random_state=42)

clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

print(f"Accuracy: {accuracy:.2f}")
print("Classification Report:\n", classification_rep)

Accuracy: 1.00
Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00     33092

    accuracy                           1.00     33092
   macro avg       1.00      1.00      1.00     33092
weighted avg       1.00      1.00      1.00     33092

In [38]:
# import matplotlib.pyplot as plt

# df_a = df[df["Nilai Huruf"] == 0]
# df_b = df[df["Nilai Huruf"] == 1]
# df_c = df[df["Nilai Huruf"] == 2]
# df_d = df[df["Nilai Huruf"] == 3]

# count_a = len(df_a)
# count_b = len(df_b)
# count_c = len(df_c)
# count_d = len(df_d)

# categories = ["A", "B", "C", "D"]
# counts = [count_a, count_b, count_c, count_d]

# plt.bar(categories, counts, color=["green", "blue", "orange", "red"])

# for i, count in enumerate(counts):
#     plt.text(i, count + 0.1, str(count), ha="center", va="bottom")

# plt.xlabel("Nilai Huruf")
# plt.ylabel("Jumlah Mahasiswa")
# plt.title("Jumlah Mahasiswa berdasarkan Nilai Huruf")
# plt.show()

In [39]:
# categories = ["A", "B", "C", "D"]
# years = df["Angkatan"].unique()  


# fig, axs = plt.subplots(len(years), 1, figsize=(10, 5 * len(years)))

# for i, year in enumerate(years):
#     df_year = df[df["Angkatan"] == year]

#     counts = [len(df_year[df_year["Nilai Huruf"] == j]) for j in range(len(categories))]

#     axs[i].bar(categories, counts, color=["green", "blue", "orange", "red"])

#     for j, count in enumerate(counts):
#         axs[i].text(j, count + 0.1, str(count), ha="center", va="bottom")
        
        
#     axs[i].set_xlabel("Nilai Huruf")
#     axs[i].set_ylabel("Jumlah Mahasiswa")
#     axs[i].set_title(f"Jumlah Mahasiswa berdasarkan Nilai Huruf (Angkatan {year})")

# plt.tight_layout()
# plt.show()