# Nilai Huruf

In [1]:
import pandas as pd

In [2]:
url = "https://drive.google.com/uc?export=download&id=1bAu31pKhF-kAYq2ncCveSloH-NLg83aU"
df = pd.read_csv(url)
df

,NIM,Angkatan,Kode MK,SKS,Nama Mata Kuliah,Periode Semester,Nilai Huruf
0,2.054297e+08,20051,KP8700,2.0,Kerja Praktek,20122,NaN
1,2.054297e+08,20051,KM8800,1.0,Komprehensif,20122,NaN
2,2.054297e+08,20051,TA8800,4.0,Tugas AkhirSkripsi,20122,NaN
3,2.067001e+08,20061,705101,2.0,AlQuran Dan Ilmu Tafsir,20061,A
4,2.067001e+08,20061,705104,2.0,Bahasa Arab I,20061,A
...,...,...,...,...,...,...,...
192031,1.237050e+09,20231,201004-705-02-013,2.0,Fisika Dasar,20231,NaN
192032,1.237050e+09,20231,201004-705-02-014,1.0,Praktikum Fisika Dasar,20231,NaN
192033,1.237050e+09,20231,201004-705-03-001,2.0,Olah Raga,20231,NaN
192034,1.237050e+09,20231,201004-705-03-011,NaN,Praktek Tilawah,20231,NaN
192035,1.237050e+09,20231,201004-705-02-002,1.0,Kewarganegaraan,20231,NaN

In [3]:
df = df.dropna()

In [4]:
df['Nilai Huruf'] = df['Nilai Huruf'].astype('category').cat.codes

C:\Users\arbaa\AppData\Local\Temp\ipykernel_14984\3742831306.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Nilai Huruf'] = df['Nilai Huruf'].astype('category').cat.codes

In [5]:
df_a_only = df[df["Nilai Huruf"] == 0]

result_df = df_a_only[
    [
        "Angkatan",
        "Kode MK",
        "Nama Mata Kuliah",
    ]
]

print("\n5 Baris Pertama Dataset (Hanya Nilai Huruf 'A'):")
print(result_df.head())

total_data_a = df_a_only.shape[0]

print(f"\nTotal Data dengan Nilai Huruf 'A': {total_data_a}")

5 Baris Pertama Dataset (Hanya Nilai Huruf 'A'):
    Angkatan Kode MK             Nama Mata Kuliah
3      20061  705101      AlQuran Dan Ilmu Tafsir
4      20061  705104                Bahasa Arab I
13     20061  705111               Praktik Ibadah
17     20061  705216  English Communication Skill
18     20061  705211       Hadits dan Ilmu Hadits

Total Data dengan Nilai Huruf 'A': 67599

In [6]:
df_b_only = df[df["Nilai Huruf"] == 1]

result_df = df_b_only[
    [
        "Angkatan",
        "Kode MK",
        "Nama Mata Kuliah",
    ]
]

print("\n5 Baris Pertama Dataset (Hanya Nilai Huruf 'B'):")
print(result_df.head())

total_data_b = df_b_only.shape[0]

print(f"\nTotal Data dengan Nilai Huruf 'B': {total_data_b}")

5 Baris Pertama Dataset (Hanya Nilai Huruf 'B'):
    Angkatan Kode MK                          Nama Mata Kuliah
5      20061  705102                          Bahasa Indonesia
6      20061  705103                            Bahasa Inggris
10     20061  705110  Pendidikan Pancasila dan Kewarganegaraan
12     20061  705109                    Pengetahuan Lingkungan
19     20061  705213      Ilmu Budaya Dasar  Ilmu Sosial Dasar

Total Data dengan Nilai Huruf 'B': 67978

In [7]:
df_c_only = df[df["Nilai Huruf"] == 2]

result_df = df_c_only[
    [
        "Angkatan",
        "Kode MK",
        "Nama Mata Kuliah",
    ]
]

print("\n5 Baris Pertama Dataset (Hanya Nilai Huruf 'C'):")
print(result_df.head())

total_data_c = df_c_only.shape[0]

print(f"\nTotal Data dengan Nilai Huruf 'C': {total_data_c}")

5 Baris Pertama Dataset (Hanya Nilai Huruf 'C'):
    Angkatan Kode MK               Nama Mata Kuliah
7      20061  705106                   Fisika Dasar
9      20061  705108                    Kimia Dasar
11     20061  705107  Pengantar Teknologi Informasi
14     20061  705219      Algoritma dan Pemrograman
16     20061  705212                 Bahasa Arab II

Total Data dengan Nilai Huruf 'C': 17199

In [8]:
df_d_only = df[df["Nilai Huruf"] == 3]

result_df = df_d_only[
    [
        "Angkatan",
        "Kode MK",
        "Nama Mata Kuliah",
    ]
]

print("\n5 Baris Pertama Dataset (Hanya Nilai Huruf 'D'):")
print(result_df.head())

total_data_d = df_d_only.shape[0]

print(f"\nTotal Data dengan Nilai Huruf 'D': {total_data_d}")

5 Baris Pertama Dataset (Hanya Nilai Huruf 'D'):
     Angkatan Kode MK Nama Mata Kuliah
8       20061  705105       Kalkulus I
15      20061  705217   Aljabar Linier
34      20061  705436   Metode Numerik
149     20061  705106     Fisika Dasar
220     20061  705106     Fisika Dasar

Total Data dengan Nilai Huruf 'D': 2680

In [9]:
import os

df_a_only = df[df["Nilai Huruf"] == 0]
df_b_only = df[df["Nilai Huruf"] == 1]
df_c_only = df[df["Nilai Huruf"] == 2]
df_d_only = df[df["Nilai Huruf"] == 3]

output_folder = "output/nilai_huruf"
os.makedirs(output_folder, exist_ok=True)

output_path_a = os.path.join(output_folder, "output_nilai_huruf_a.csv")
output_path_b = os.path.join(output_folder, "output_nilai_huruf_b.csv")
output_path_c = os.path.join(output_folder, "output_nilai_huruf_c.csv")
output_path_d = os.path.join(output_folder, "output_nilai_huruf_d.csv")

df_a_only_output = df_a_only[["Angkatan", "Kode MK", "Nama Mata Kuliah"]].reset_index(
    drop=True
)
df_a_only_output.to_csv(output_path_a, index=False)

df_b_only_output = df_b_only[["Angkatan", "Kode MK", "Nama Mata Kuliah"]].reset_index(
    drop=True
)
df_b_only_output.to_csv(output_path_b, index=False)

df_c_only_output = df_c_only[["Angkatan", "Kode MK", "Nama Mata Kuliah"]].reset_index(
    drop=True
)
df_c_only_output.to_csv(output_path_c, index=False)

df_d_only_output = df_d_only[["Angkatan", "Kode MK", "Nama Mata Kuliah"]].reset_index(
    drop=True
)
df_d_only_output.to_csv(output_path_d, index=False)



# %%

## Decision Tree

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn import preprocessing

le_angkatan = preprocessing.LabelEncoder()
le_kode_mk = preprocessing.LabelEncoder()
le_nama_mk = preprocessing.LabelEncoder()

df["Angkatan"] = le_angkatan.fit_transform(df["Angkatan"])
df["Kode MK"] = le_kode_mk.fit_transform(df["Kode MK"])
df["Nama Mata Kuliah"] = le_nama_mk.fit_transform(df["Nama Mata Kuliah"])

X = df[["Angkatan", "Kode MK", "Nama Mata Kuliah"]]
y = df["Nilai Huruf"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

clf = DecisionTreeClassifier(random_state=42)

clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

print("\nResults for Decision Tree:")
print(f"Accuracy: {accuracy:.2f}")
print("Classification Report:\n", classification_rep)

C:\Users\arbaa\AppData\Local\Temp\ipykernel_14984\316175819.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Angkatan"] = le_angkatan.fit_transform(df["Angkatan"])
C:\Users\arbaa\AppData\Local\Temp\ipykernel_14984\316175819.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Kode MK"] = le_kode_mk.fit_transform(df["Kode MK"])
C:\Users\arbaa\AppData\Local\Temp\ipykernel_14984\316175819.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Nama Mata Kuliah"] = le_nama_mk.fit_transform(df["Nama Mata Kuliah"])

Results for Decision Tree:
Accuracy: 0.58
Classification Report:
               precision    recall  f1-score   support

           0       0.63      0.65      0.64     13579
           1       0.55      0.68      0.61     13665
           2       0.39      0.21      0.28      3369
           3       0.29      0.04      0.07       569
           4       0.48      0.08      0.13      1863
           5       0.00      0.00      0.00        47

    accuracy                           0.58     33092
   macro avg       0.39      0.28      0.29     33092
weighted avg       0.56      0.58      0.55     33092

## K-Nearest Neighbors (KNN)

In [11]:
from sklearn.neighbors import KNeighborsClassifier

le_angkatan = preprocessing.LabelEncoder()
le_kode_mk = preprocessing.LabelEncoder()
le_nama_mk = preprocessing.LabelEncoder()

df["Angkatan"] = le_angkatan.fit_transform(df["Angkatan"])
df["Kode MK"] = le_kode_mk.fit_transform(df["Kode MK"])
df["Nama Mata Kuliah"] = le_nama_mk.fit_transform(df["Nama Mata Kuliah"])

X = df[["Angkatan", "Kode MK", "Nama Mata Kuliah"]]
y = df["Nilai Huruf"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

knn_model = KNeighborsClassifier()
knn_model.fit(X_train, y_train)

predictions_knn = knn_model.predict(X_test)

accuracy_knn = accuracy_score(y_test, predictions_knn)
classification_report_result_knn = classification_report(y_test, predictions_knn)

print("\nResults for K-Nearest Neighbors (KNN):")
print(f"Accuracy: {accuracy_knn:.2f}")
print("Classification Report:\n", classification_report_result_knn)

C:\Users\arbaa\AppData\Local\Temp\ipykernel_14984\3478718404.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Angkatan"] = le_angkatan.fit_transform(df["Angkatan"])
C:\Users\arbaa\AppData\Local\Temp\ipykernel_14984\3478718404.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Kode MK"] = le_kode_mk.fit_transform(df["Kode MK"])
C:\Users\arbaa\AppData\Local\Temp\ipykernel_14984\3478718404.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Nama Mata Kuliah"] = le_nama_mk.fit_transform(df["Nama Mata Kuliah"])

Results for K-Nearest Neighbors (KNN):
Accuracy: 0.53
Classification Report:
               precision    recall  f1-score   support

           0       0.56      0.65      0.60     13579
           1       0.54      0.57      0.55     13665
           2       0.32      0.21      0.25      3369
           3       0.21      0.04      0.07       569
           4       0.30      0.09      0.14      1863
           5       0.02      0.02      0.02        47

    accuracy                           0.53     33092
   macro avg       0.33      0.26      0.27     33092
weighted avg       0.51      0.53      0.51     33092

In [12]:
# import matplotlib.pyplot as plt

# df_a = df[df["Nilai Huruf"] == 0]
# df_b = df[df["Nilai Huruf"] == 1]
# df_c = df[df["Nilai Huruf"] == 2]
# df_d = df[df["Nilai Huruf"] == 3]

# count_a = len(df_a)
# count_b = len(df_b)
# count_c = len(df_c)
# count_d = len(df_d)

# categories = ["A", "B", "C", "D"]
# counts = [count_a, count_b, count_c, count_d]

# plt.bar(categories, counts, color=["green", "blue", "orange", "red"])

# for i, count in enumerate(counts):
#     plt.text(i, count + 0.1, str(count), ha="center", va="bottom")

# plt.xlabel("Nilai Huruf")
# plt.ylabel("Jumlah Mahasiswa")
# plt.title("Jumlah Mahasiswa berdasarkan Nilai Huruf")
# plt.show()

In [13]:
# categories = ["A", "B", "C", "D"]
# years = df["Angkatan"].unique()  


# fig, axs = plt.subplots(len(years), 1, figsize=(10, 5 * len(years)))

# for i, year in enumerate(years):
#     df_year = df[df["Angkatan"] == year]

#     counts = [len(df_year[df_year["Nilai Huruf"] == j]) for j in range(len(categories))]

#     axs[i].bar(categories, counts, color=["green", "blue", "orange", "red"])

#     for j, count in enumerate(counts):
#         axs[i].text(j, count + 0.1, str(count), ha="center", va="bottom")
        
        
#     axs[i].set_xlabel("Nilai Huruf")
#     axs[i].set_ylabel("Jumlah Mahasiswa")
#     axs[i].set_title(f"Jumlah Mahasiswa berdasarkan Nilai Huruf (Angkatan {year})")

# plt.tight_layout()
# plt.show()