In [59]:
import pandas as pd

In [60]:
url = "https://drive.google.com/uc?export=download&id=1bAu31pKhF-kAYq2ncCveSloH-NLg83aU"
df = pd.read_csv(url)

In [70]:
unique_sks_classification = df.drop_duplicates(subset=["Kode MK", "Nama Mata Kuliah"])[
    ["Kode MK", "Nama Mata Kuliah", "SKS"]
]

In [71]:
sks_classification = (
    unique_sks_classification.groupby("SKS")
    .size()
    .reset_index(name="Jumlah Mata Kuliah")
)
print("Klasifikasi berdasarkan SKS")
print(sks_classification)

Klasifikasi berdasarkan SKS
   SKS  Jumlah Mata Kuliah
0  0.0                  13
1  1.0                  58
2  2.0                 160
3  3.0                 141
4  4.0                   5
5  6.0                   1